<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.shinav.mathapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name=".main.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".question.QuestionActivity"
            android:noHistory="true" />

        <activity
            android:name=".questionApproach.QuestionApproachActivity"
            android:noHistory="true"/>

        <activity
            android:name=".questionApproach.feedback.QAFActivity"
            android:noHistory="true" />

        <activity android:name=".conversation.ConversationActivity"
                  android:noHistory="true" />

        <activity android:name=".tutorial.TutorialConversationActivity"/>
        <activity android:name=".tutorial.TutorialQuestionActivity"/>
        <activity android:name=".tutorial.TutorialQuestionApproachActivity"/>
        <activity android:name=".tutorial.TutorialQAFActivity"/>

        <service android:name=".tutorial.TutorialManagingService"
                 android:exported="false" />

        <service android:name=".storytelling.StorytellingService"
                 android:exported="false" />

    </application>

</manifest>
